.CharadesContainer {
  background-color: #f0f0f0;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  margin: 0px;
}

.DifficultyButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.DifficultyButtons button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.DifficultyButtons button:hover {
  background-color: #2980b9;
}

.Charades {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.Left,
.Right {
  width: 15%;
  margin: 0 0;
  padding: 0 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.Left:hover,
.Right:hover {
  transform: scale(1.1);
}

.Score {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 24px;
  font-weight: bold;
}

.ScoreContainer {
  display: flex;
}

.LeftScore,
.RightScore {
  margin: 0 10px;
}

.LeftScore:before,
.RightScore:before {
  content: "";
  display: inline-block;
  width: 20px;
}

@media (max-width: 768px) {
  .DifficultyButtons {
    justify-content: space-evenly;
  }
  .Left,
  .Right {
    width: 45%;
    margin: 20px 0;
  }

  .Left:hover,
  .Right:hover {
    transform: scale(1);
  }

  .DifficultyButtons button {
    margin: 5px 0;
  }
}
